{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Acceder {% endblock %}

{% block body %}

<div class="container mt-5 text-center justify-content-center">
    <div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="registro">Registrarme</a>
        </li>
        </ul>
    </div>
    <div class="card-body">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Estás logueado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <center>

            <h1 class="h3 mb-3 text-dark">¡Bienvenid@ a IF-ORMATICOS FC!</h1>
            <br>
            <div class="form-group row justify-content-center">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-3">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Introduce el email">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-3">
                    <input type="password" name="password" id="inputPassword" placeholder="Introduce la contraseña" class="form-control" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-success my-3" type="submit">
                    Acceder
                </button>
            </center>
            </form>

    </div>
    </div>
</div>

{% endblock %}
